sd-content{
  display:block;
  max-width:800px;
  margin:auto;
}

sd-content p{
  text-align: justify;
}

sd-content h4{
  margin-bottom:5px;
  margin-top:0px;
  font-size: 1em;
  font-family: 'OpenSansSemiBold';
}

.hide{
  display:none;
}

.list-box, .text-box, .table-box{
    margin: 0 0 1.5em 0;
}

.list-box ul li:before, .doc-box ul li:before {
  content: "\f138";
  font-family: 'FontAwesome';
  margin-right: 5px;
}

/* Table */

table {
  width: 100%;
}

th {
  background: #C2C2C2 !important;
}

.even {
  background: #F6F5F1;
}

td, th {
	text-align: left;
}

td{
  padding: 5px !important;
  border-top: 1px solid #DADADA !important;
}

thead td{  
  padding: 0 5px !important;
}

td p {
    margin: 0;
}

thead, th{
  background: none repeat scroll 0 0 #f6f5f1;
  border-top: 1px solid #DADADA !important;
  font-family: OpenSansLight !important;
}

.iconColumn {
  width: 15px;
}

/* Members */

.member{
	margin: 0 0 15px 5px;
}

.member-header i{
	float: left;
	margin-top: 5px;
}

.member-header img{
	float: left;
	margin: 0 5px;
	padding-top: 0px;
	top: 6px;
	position: relative;
}

.member-header p{
	margin: 0;
	margin-left: 35px;
}

.member-header .summary{
	font-family: 'OpenSansRegular';
	margin: 0 35px;
}

.member-header .summary p{
	margin: 0;
}

.member-content{
	margin-left: 35px;
  display:none;
}

.member-content .syntax-box{
	margin: 0 35px;
}

.member-box-title{
	margin: 10px 35px;
	font-family: 'OpenSansSemiBold';	
}

.member-doc-box{
	margin: 0px 65px;
}

.member-doc-box p, .member-doc-box pre{
	margin: 0;
}

.member-doc-box .inline{
	margin: 0 35px 15px;
}

.member-doc-box small{
	margin: 0 35px;
	font-size: 0.7em;
	font-family: 'OpenSansSemiBold';
	color: gray;
}

.member-doc-box .key{
	font-style: italic;
}

/* Diagrams */

#syntax-pre{
  margin-bottom:0!important;
}

.sd-sequence-diagram, #sd-class-diagram {
  border: 1px solid #DADADA;
  height: 450px;
  padding: 5px;
  position: relative;
  overflow:hidden;
  resize: vertical;
}

.sd-sequence-diagram object, #sd-class-diagram object{
  width: 100%;
  height: 100%;
}

#sd-class-diagram{
  border-top:0;
}

.legend p {
    font-size: 0.7em;
}

.save, .resetZoom {
    float: right;
}

.save i, .resetZoom i {
    margin-right: 5px;
}

.save {
    margin-left: 10px !important;
}

.resetZoom {
    margin-right: 10px !important;
}