sd-header{
  display:block;
  margin: 35px 0px;
  height: 50px;
}

sd-header a{
  display:block;
  text-align:center;
}

sd-header a img{
  max-height:50px;
}

sd-header h1{
  margin:0;
  padding:0;
}
