sd-nav{
  display:block;
  overflow:hidden;
}

.jstree-default a {
		width: 100%;
}

.jstree-clicked, .jstree-hovered{
	box-shadow:none!important;
	background: #F58026!important;
	border-radius: 0!important;
	color:white!important;
}
