<div class="markdown content">
	<div *ngFor="let region of currentPageData.regions">
		<div class="code-fileheader"><i class="icon-file-text-alt"></i> {{region.filename}}</div>
		<pre id="getCodeId()"><code class="language-csharp line-numbers" [innerHtml]="region.contentSanitized"></code></pre>
	</div>

	<div *ngIf="disqusShortName">
	   <div id="disqus_thread"></div>
	   <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	</div>
</div>