<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <PropertyGroup>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<SolutionProperties>
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.Plugins.Html.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>
		
		<PluginFiles Include="src/bin/Release/CommonMark.dll;
			src/bin/Release/SharpDox.Plugins.Html.dll"/>
					
		<LanguageFiles Include="lang/**/*.*"/>
		
		<FontFiles Include="sharpDox-html/assets/font/**/*.*"/>
		<IconFiles Include="sharpDox-html/assets/icons/**/*.*"/>
		<AppDistFiles Include="sharpDox-html/dist/*.js"/>
		<VendorFiles Include="sharpDox-html/vendor/jstree/default/**/*.*"/>
		
		<TemplateFiles Include="sharpDox-html/templates/**/*.*"/>
		<IndexFile Include="sharpDox-html/dist/index.html"/>
		
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />		
		<Exec Command="npm install" WorkingDirectory="$(MSBuildStartupDirectory)\sharpDox-html" />
		<Exec Command="webpack" WorkingDirectory="$(MSBuildStartupDirectory)\sharpDox-html" />
		
		<Copy SourceFiles="@(PluginFiles)" DestinationFolder="$(OutDir)/plugins/html" />
		<Copy SourceFiles="@(LanguageFiles)" DestinationFolder="$(OutDir)/lang" />
		<Copy SourceFiles="@(FontFiles)" DestinationFolder="$(OutDir)/plugins/html/app/assets/font" />
		<Copy SourceFiles="@(IconFiles)" DestinationFolder="$(OutDir)/plugins/html/app/assets/icons" />
		<Copy SourceFiles="@(AppDistFiles)" DestinationFolder="$(OutDir)/plugins/html/app/dist" />
		<Copy SourceFiles="@(VendorFiles)" DestinationFolder="$(OutDir)/plugins/html/app/vendor/jstree/default" />
		<Copy SourceFiles="@(TemplateFiles)" DestinationFiles="@(TemplateFiles->'$(OutDir)/plugins/html/themes/sharpDox/templates/%(RecursiveDir)%(Filename)%(Extension)')" />
		<Copy SourceFiles="@(IndexFile)" DestinationFolder="$(OutDir)/plugins/html/themes/sharpDox" />
	</Target>
</Project>
