<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003" DefaultTargets="Build">
   <UsingTask TaskName="CssCompressorTask" AssemblyFile="src/packages/YUICompressor.NET.MSBuild.2.7.0.0/lib/NET20/Yahoo.Yui.Compressor.Build.MsBuild.dll" />
   <UsingTask TaskName="JavascriptCompressorTask" AssemblyFile="src/packages/YUICompressor.NET.MSBuild.2.7.0.0/lib/NET20/Yahoo.Yui.Compressor.Build.MsBuild.dll" />
   
   <PropertyGroup>
		<OutDir>$(MSBuildStartupDirectory)\build</OutDir>
		<SolutionProperties>
					Platform=Any CPU;
					Configuration=Release
		</SolutionProperties>
   </PropertyGroup>
	<ItemGroup>
		<Solution Include="src/SharpDox.Plugins.Html.sln">
			<Properties>
				$(SolutionProperties)
			</Properties>
		</Solution>
		
		<PluginFiles Include="src/bin/Release/MarkdownSharp.dll;
			src/bin/Release/SharpDox.Plugins.Html.dll"/>
					
		<LanguageFiles Include="lang/**/*.*"/>
		
		<FontFiles Include="assets/font/**/*.*"/>
		<ImageFiles Include="assets/images/**/*.*"/>	
		
		<CssFiles Include="assets/css/reset.css;
			assets/css/typography.css;
			assets/css/dropdown.css;
			assets/css/markdown.css;
			assets/css/tree.css;
			assets/css/layout.css;
			assets/css/search.css;
			assets/css/vs.css;"/>
		
		<CssFontFiles Include="assets/css/font.css;
			assets/css/font-awesome.css;"/>
		
		<JsAppFiles Include="assets/js/app/index.js;
			assets/js/app/SearchController.js;
			assets/js/app/NavigationController.js"/>
		
		<JsIFrameFiles Include="assets/js/frame/svg.js"/>
		
		<JsVendorFiles Include="assets/js/vendor/jquery.min.js;
			assets/js/vendor/jquery.dropdown.min.js;
			assets/js/vendor/jquery.hashchange.min.js;
			assets/js/vendor/jquery.mousewheel.min.js;
			assets/js/vendor/jquery-ui.custom.min.js;
			assets/js/vendor/jstree.js;
			assets/js/vendor/jquery.panzoom.js;
			assets/js/vendor/jquery.print.js;
			assets/js/vendor/canvg.js;
			assets/js/vendor/highlight.pack.js;
			assets/js/vendor/modernizr.js;
			assets/js/vendor/rgbcolor.js;
			assets/js/vendor/StackBlur.js;"/>
			
		<JsVendorIE8Files Include="assets/js/vendor/jquery.min.js;
			assets/js/vendor/jquery.dropdown.min.js;
			assets/js/vendor/jquery.hashchange.min.js;
			assets/js/vendor/jquery.mousewheel.min.js;
			assets/js/vendor/jquery-ui.custom.min.js;
			assets/js/vendor/jstree.js;
			assets/js/vendor/jquery.print.js;"/>
			
		<JsFiles Include="assets/js/vendor/jquery.layout.min.js;
			assets/js/frame/iframe.js"/>
		
	</ItemGroup>
	<Target Name="Build">
		<RemoveDir Directories="$(OutDir)" />
		<MSBuild Projects="@(Solution)" Targets="Clean;Build" />		
		<Copy SourceFiles="@(PluginFiles)" DestinationFolder="$(OutDir)/plugins/html" />
		<Copy SourceFiles="@(LanguageFiles)" DestinationFolder="$(OutDir)/lang" />
		<Copy SourceFiles="@(FontFiles)" DestinationFolder="$(OutDir)/plugins/html/assets/font" />
		<Copy SourceFiles="@(CssFontFiles)" DestinationFolder="$(OutDir)/plugins/html/assets/css" />
		<Copy SourceFiles="@(JsFiles)" DestinationFolder="$(OutDir)/plugins/html/assets/js" />
		<Copy SourceFiles="@(ImageFiles)" DestinationFiles="@(ImageFiles->'$(OutDir)/plugins/html/assets/images/%(RecursiveDir)%(Filename)%(Extension)')" />
		
		<MakeDir Directories="$(OutDir)/plugins/html/assets/js"/>
		
		<CssCompressorTask SourceFiles="@(CssFiles)" OutputFile="$(OutDir)/plugins/html/assets/css/style.css" />
		<JavascriptCompressorTask SourceFiles="@(JsVendorFiles)" OutputFile="$(OutDir)/plugins/html/assets/js/vendor.js" />
		<JavascriptCompressorTask SourceFiles="@(JsVendorIE8Files)" OutputFile="$(OutDir)/plugins/html/assets/js/vendor.ie8.js" />
		<JavascriptCompressorTask SourceFiles="@(JsAppFiles)" OutputFile="$(OutDir)/plugins/html/assets/js/app.js" />
		<JavascriptCompressorTask SourceFiles="@(JsIFrameFiles)" OutputFile="$(OutDir)/plugins/html/assets/js/frame.js" />
	</Target>
</Project>