.content {
  display:block;
  max-width:800px;
  margin:auto;
  padding: 25px;
}

.content p{
  text-align: justify;
}

.content h4{
  margin-bottom:5px;
  margin-top:0px;
  font-size: 1em;
  font-family: 'OpenSansSemiBold';
}

.hide{
  display:none;
}

.list-box, .text-box, .table-box{
    margin: 0 0 1.5em 0;
}

.list-box ul li:before, .doc-box ul li:before {
  content: "\f138";
  font-family: 'FontAwesome';
  margin-right: 5px;
}

/* Table */

table {
  width: 100%;
}

th {
  background: #C2C2C2 !important;
}

.even {
  background: #F6F5F1;
}

td, th {
	text-align: left;
}

td{
  padding: 5px !important;
  border-top: 1px solid #DADADA !important;
}

thead td{  
  padding: 0 5px !important;
}

td p {
    margin: 0;
}

thead, th{
  background: none repeat scroll 0 0 #f6f5f1;
  border-top: 1px solid #DADADA !important;
  font-family: OpenSansLight !important;
}

.iconColumn {
  width: 15px;
}

#disqus_thread{
  margin-top: 25px;
  margin-bottom: 15px;
}