/* Layout */
.ui-layout-mask {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50); /* for IE */
}

.ui-outer{
    padding: 10px;
	overflow: auto;
}

.ui-outer-center{
    padding: 0px;
}

.ui-outer-north{
	padding: 0px;
	text-align: center;
}

.ui-outer-resizer-north{
    border-bottom: 5px solid black;
}

.ui-outer-resizer-west{
    background: #f8f8f8;
    border-right: 1px solid #d4d4d4;
}

.ui-outer-resizer-west-hover{
    border-right: 1px solid #7F7F7F;
}

.ui-outer-west{
    background: #f8f8f8;
}

.ui-outer-resizer-south{
    background: #f8f8f8;
    border-top: 1px solid #ebebeb;
}

.ui-outer-south{
    padding: 0px 5px 5px 5px;
    background: #f8f8f8;
    font-size: 0.7em;
    color: gray;
    text-align:right;
}

.ui-inner-north h2{
    padding:0;
    margin:0;
}

.ui-inner-center{
	padding: 10px 25px;
	overflow: auto;
}

/* Elements */

#sitetitle{
	margin: 20px;
	height: 50px;
	padding: 0;
	font-size: 3.0em;
}

#sitetitle a{
	color: white;
}

#subtitle{
	padding: 10px;
	font-family: 'OpenSansSemiBold';
}

#subtitle p{
	margin:0;
}

.toolbar{
	padding: 5px;
	margin: 15px 15px 0px 15px;
	background: #f8f8f8;
	border: 1px solid silver;
}

.toolbar .button{
	display: inline-block;
	padding: 10px;
	border: 1px solid silver;
	background: white;
	color: black;
}

.toolbar .button:hover{
	background: #E5E5E5;
}

.toolbar .button .info{
	color: #7F7F7F;
}

.toolbar .button img{
	float:left;
	margin-right: 5px;
}

.toolbar-info{
	font-family: 'OpenSansSemiBold';
	color: #7F7F7F;
	margin-right: 15px;
}

.toolbar .right{
	float:right;
}

#docname {
    max-height: 100px;
}

#pagetitle{
    background: #2862db;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#pagetitle p{
    margin: 0;
    padding: 0;
}

#search-wrapper{
	position: fixed;
	bottom:0;
	right:-275;
	background:black;
	color: #E5E5E5;	
}

#search-wrapper i{
	cursor:pointer;
	padding: 15px 20px; 
	background: #404040;
	display: inline-block;
}

#search-wrapper input{
	margin: 5px;
	width: 260px;
	border: none;
	padding: 5px;
	background: #404040;
	color: white;
}

#search-result-wrapper{
	display:none;
	position: absolute;
	width: 327px;
}

#search-result{
	display:none;
	max-height: 300px;
	overflow: auto;
	border: 1px solid #7F7F7F;
	position: absolute;
	background: white;
	bottom:0;
	width: 327px;
}

.search-entry{
	border-bottom: 1px solid #7F7F7F;
}

.search-entry a{
	padding: 15px;
	display:block;
	color: #1382ce!important;
}

.search-entry a:hover{
	color: #FFF!important;	
	background:#f58026;
}

.search-entry a:hover small{
	color: #000;	
}

.search-entry p{
	margin: 0;
	padding: 0;
	margin-right: 15px;
}

.search-entry small{
	font-size: 10px;
	font-style: italic;
	color: grey;
}

/* IFRAME */
.member{
	margin: 0 25px 25px 25px;
}

.member-header{
	font-family: 'OpenSansSemiBold';
}

.member-header i{
	float: left;
	margin-top: 2px;
}

.member-header img{
	float: left;
	margin: 0 5px;
	padding-top: 0px;
	top: 2px;
	position: relative;
}

.member-header p{
	margin: 0;
	margin-left: 35px;
}

.member-header .summary{
	font-family: 'OpenSansRegular';
	margin: 0 35px;
}

.member-header .summary p{
	margin: 0;
}

.member-content{
	display:none;
	padding: 15px;
}

.member-content .syntax-box{
	margin: 0 35px;
}

.member-box-title{
	margin: 10px 35px;
	font-family: 'OpenSansSemiBold';	
}

.member-doc-box{
	margin: 0px 65px;
}

.member-doc-box p, .member-doc-box pre{
	margin: 0;
}

.member-doc-box .inline{
	margin: 0 35px 15px;
}

.member-doc-box small{
	margin: 0 35px;
	font-size: 0.7em;
	font-family: 'OpenSansSemiBold';
	color: gray;
}

.member-doc-box .key{
	font-style: italic;
}

.box-title {
    margin: 0 0 25px 0;
}

.list-box, .doc-box, .text-box, .table-box , .syntax-box{
    margin: 25px 0 25px 25px;
}

.list-box ul li, .doc-box ul li {
	margin-bottom:10px;
}

.list-box ul li:before, .doc-box ul li:before {
  content: "\f138";
  font-family: 'FontAwesome';
  margin-right: 5px;
}

.doc-box .inline {
	margin-left:25px;
}

.syntax-box {
    background: #F6F5F1;
    padding: 5px;
    border:1px solid #DADADA;
}

.no-margin{
	margin:0;
}

.sd-sequence-diagram, #sd-class-diagram {
    border: 1px solid #DADADA;
    height: 450px;
    padding: 5px;
    position: relative;
    margin: 15px 35px 0;
	overflow:hidden;
}

.sd-sequence-diagram svg, #sd-class-diagram svg{
	width: 100%;
	height: 100%;
}

.legend p {
    font-size: 0.8em;
    margin: 0px 35px 35px 35px;
}

ul {
    margin: 0;
    padding: 0;
}

.wrap-pre {
    white-space:pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

table {
    width: 100%;
}

th {
    background: #C2C2C2;
}

.even {
    background: #F6F5F1;
}

td {
    padding: 5px 10px 5px 10px;
}

td p {
    margin: 0;
}

thead {
    background: none repeat scroll 0 0 #f6f5f1;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #DADADA;
    font-family: OpenSansLight;
    font-weight: bold;
}

.iconColumn {
    width: 15px;
}

table.methods {
    width: 80%;
}

table.methods td:last-child {
    width: 100%;
}

.webpart {
    margin-bottom: 25px;
}

.typesite{
    display:none;
}