#search{
	margin: 5px;
}

#searchInput{
	margin-left:10px;
}

#searchResults {
	background: white;
	border: 1px solid #DDD;
	display:none;
	position: absolute;
	min-width: 150px;
	max-width: 250px;
	margin-left: 27px;
	max-height: 350px;	
	overflow: auto;
}

#searchResults ul{
	max-height: 250px;
}

#searchResults li{	
	display:block;
	word-wrap: break-word;
}

#searchResults a{
	padding: 10px;
	display: block;
}

#searchResults a:hover{
	background: #DDD;
}

.result-item-footer{
	padding: 0;
	margin: 0;
	color: grey;
	font-size: 10px;
}