.markdown img {
    display: block;
    margin: auto;
    max-width: 100%;
}
.markdown strong {
    font-weight: bold;
}
.markdown em {
    font-style: italic;
}
.markdown ol {
    list-style-type: decimal;
    margin-left: 20px;
}
.markdown ul{
    margin: 1em 0;
}
.markdown ul li:before {
    content: "\f138";
    font-family: 'FontAwesome';
    margin-left: -1.2em;
    margin-right: 5px;
}
.markdown ul li, .markdown ol li {
    margin-bottom: 10px;
    margin-top: 10px;
}
.markdown ul li {
    padding-left: 1.2em;
}
.markdown blockquote {
    background: #f6f5f1;
    border: 1px solid #dadada;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.markdown blockquote p {
    margin: 0;
}
.markdown pre {
    background: #f6f5f1;
    border: 1px solid #dadada;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
}
.markdown .inline-code, .markdown p code{
    background: #f6f5f1;
    border: 1px solid #dadada;
    padding: 1px;
    font-family: monospace;
}
.markdown pre p {
    margin: 0;
}

.md-link, .md-link:visited{
  cursor: pointer;
  color: #000000;
  text-decoration: underline;
}

.md-link:hover{
  cursor: pointer;
  color: #f58026;
  text-decoration: underline;
}