

/* Members */

.member{
	margin: 0 0 15px 5px;
}

.member-header-link{
  cursor: pointer;
  color: #1382ce;
}

.member-header-link:hover{
  cursor: pointer;
  color: #f58026;
}

.member-header i{
	float: left;
	margin-top: 5px;
}

.member-header img{
	float: left;
	margin: 0 5px;
	padding-top: 0px;
	top: 6px;
	position: relative;
}

.member-header p{
	margin: 0;
	margin-left: 35px;
}

.member-header .summary{
	font-family: 'OpenSansRegular';
	margin: 0 35px;
}

.member-header .summary p{
	margin: 0;
}

.member-content{
	margin-left: 35px;
}

.member-content .syntax-box{
	margin: 0 35px;
}

.member-box-title{
	margin: 10px 0;
	font-family: 'OpenSansSemiBold';	
}

.member-doc-box{
	margin: 0px 25px 25px 0;
}

.member-doc-box p, .member-doc-box pre{
	margin: 0;
}

.member-doc-box .inline{
	margin: 0 35px 15px;
}

.member-doc-box small{
	margin: 0 35px;
	font-size: 0.7em;
	font-family: 'OpenSansSemiBold';
	color: gray;
}

.member-doc-box .key{
	font-style: italic;
}

/* Diagrams */

.syntax-pre{
  margin-bottom:0!important;
}

.sd-sequence-diagram, #sd-class-diagram {
  border: 1px solid #DADADA;
  border-top:0;
  padding: 5px;
  position: relative;
  overflow:hidden;
  resize: vertical;
}

.sd-sequence-diagram svg, #sd-class-diagram svg{
  width: 100%;
  height: 100%;
}

.legend p {
    font-size: 0.7em;
}

.save, .resetZoom {
    float: right;
    cursor: pointer;
    color: #1382ce;
}

.save:hover, .resetZoom:hover{
  cursor: pointer;
  color: #f58026;
}

.save i, .resetZoom i {
    margin-right: 5px;
}

.save {
    margin-left: 10px !important;
}

.resetZoom {
    margin-right: 10px !important;
}